* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #F1D7B7;
}

header {
  background-color: #4A1304;
  padding: 20px 60px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.815);
  position: sticky;
  top: 0;
  z-index: 100;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 280px;
}

section {
  scroll-margin-top: 100px;
}

.menu {
  display: flex;
  gap: 30px;
}

.menu a {
  font-family: "Bowlby One", sans-serif;
  color: #FEF0DC;
  text-decoration: none;
  font-size: 1.4rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 5px;
}

.menu a:hover {
  color: #925F46;
}

.logo {
  height: 60px;
}

.sobre-nos {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
}

.sobre-nos h1 {
  font-family: "Bowlby One", sans-serif;
  text-align: center;
  font-size: 3.5rem;
  font-weight: 800;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #4A1304;
  margin-bottom: 20px;
  margin-top: 40px;
  letter-spacing: 1px;
}

.sobre-nos p {
  font-family: "Nunito", sans-serif;
  color: #89553C;
  font-weight: 600;
  font-size: 1.1rem;
}

.slide h2 {
  font-family: "Bowlby One", sans-serif;
  letter-spacing: 1px;
  color: #4A1304;
  text-transform: uppercase;
  font-size: 2.7rem;
  margin-bottom: 15px;
  line-height: 1.15;
  margin-top: 0;
}

.dots input[type="radio"] {
  position: absolute;
  inset: 0;
  opacity: 0;
  margin: 0;
  cursor: pointer;
}
.slide {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  width: 100%;
  transform: translateY(10px); 
  transition: opacity 0.4s ease, visibility 0.4s ease, transform 0.4s ease;
}

.dots:has(#ponto1:checked) ~ .s1 {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.dots:has(#ponto2:checked) ~ .s2 {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.dots:has(#ponto3:checked) ~ .s3 {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.dots:has(#ponto4:checked) ~ .s4 {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.dots:has(#ponto5:checked) ~ .s5 {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.dots:has(#ponto6:checked) ~ .s6 {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.dots label {
  position: relative; 
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #d8b98f;
  cursor: pointer;
  display: inline-block;
  transition: transform .3s ease;
}

.dots label:hover {
  background: #4A1304;
}

.dots {
  display: flex;
  gap: 8px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.dots label:has(input:checked) {
  background: #b5601f;
  transform: scale(1.5);
}

.wrapper {
  display: flex;
  align-items: center;
  gap: 40px;
}

.wrapper img {
  width: 250px;
  border: 12px solid #4a2413;
  border-radius: 18px;
  box-shadow: 18px 25px 25px rgba(0,0,0,.2);
  display: block;
}

.content {
  display: grid;
  position: relative;
  font-size: 1.3rem;
  flex: 1;
  min-height: 280px;
  padding-bottom: 40px;
  margin-left: 60px;
  max-width: 650px;
}

.video-wrapper {
  background-color: #4A1304;
  border-radius: 20px;
  text-align: center;
  padding: 20px;
  margin: 60px auto; 
  max-width: 600px;
}

.unidades h2 {
  font-family: "Bowlby One", sans-serif;
  text-align: center;
  margin: 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #4A1304;
  font-size: 3.5rem;
}

.grid-unidades {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-width: 1200px;  
  margin: 0 auto;
  padding: 20px;
}

.unidade {
  position: relative;
  border-radius: 22px;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  background-color: #ffffff2a;
  padding: 5px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.unidade:hover {
  transform: translateY(-8px) scale(1.02);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25);
}

.unidade::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60%;
  background: linear-gradient(to top, rgba(0,0,0,0.7), rgba(0,0,0,0));
  pointer-events: none;
  z-index: 1;             
}

.unidade img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  display: block;
  border-radius: 20px;
  transition: transform 0.4s ease;
}

.unidade img:hover {
  transform: scale(1.05);
}

.unidade span {
  font-family: "Bowlby One", sans-serif;
  text-transform: uppercase;
  max-width: 8px;
  position: absolute;
  bottom: 12px;
  left: 12px;
  color: #f3e7d6;
  font-size: 1.6rem;
  text-shadow: 0 2px 6px rgba(0, 0, 0, 0.658);
  z-index: 2;
}

.local-wrapper {
  text-align: center;
  margin: 30px;
}

.wrapper-contato {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1100px;
  margin: 0 auto;
  gap: 60px;
  padding: 60px 20px;
}

.contato {
  padding: 100px 40px;
  clear: both;
  width: 100%;
}

.texto-contato {
  flex: 1;
  max-width: 400px;
  margin-bottom: 40px;
}

.texto-contato h2 {
  font-family: "Bowlby One", sans-serif;
  color: #4A1304;
  font-size: 3.5rem;
  line-height: 1;
  margin-bottom: 20px;
  letter-spacing: 1.2px;
  max-width: 500px;
}

.texto-contato p {
  font-family: "Nunito", sans-serif;
  color: #89553C;
  font-size: 1.1rem;
  line-height: 1.6;
}

.cards-contato {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 600px;
  margin-left: auto;
}

.card-contato {
  font-family: "Nunito", sans-serif;
  display: flex;
  align-items: center;
  gap: 20px;
  background: #ffffff5b;
  border: 2px solid #4a2413;
  border-radius: 26px;
  padding: 15px 18px;
  text-decoration: none;
  min-height: 80px;
  color: inherit;
  box-shadow: 5px 5px 0px #4a2413;
  transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.card-contato:hover {
  background-color: rgba(255, 255, 255, 0.671);
  transform: translate(-3px, -3px);
  box-shadow: 0px 8px 0px 2px #3b0e00;
}

.card-contato img {
  width: 70px;
  height: 70px;
}

.info-card {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.info-card strong {
  font-family: "Bowlby One", sans-serif;
  color: #4A1304;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 800;
  font-size: 1.4rem;
  
}

.info-card span {
  font-size: 0.9rem;
  color: #6b4a30;
}

.handle {
  color: #b5601f;
  font-weight: 700;
  font-size: 0.9rem;
  white-space: nowrap;
}

footer {
  background-color: #d8b98f;
  padding: 10px;
  border-radius: 25px 25px 0px 0px;
  box-shadow: 1px 8px  solid black;
}

footer p {
  font-family: "Nunito", sans-serif;
  color: #89553C;
  font-weight: 600;
  font-size: 1.1rem;
  display: flex;
  justify-content: center;
}

footer a {
  font-weight: bolder;
  text-decoration: none;
  color: #4A1304;
}

